<h4>Internal server error - refreshing the page will make the error desapear!</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this Angular is fine</p>
    <p>What to do next?</p>
    <ol>
        <li>Open the browser dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check for failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in Postman - to validate Angular is fine</li>
    </ol>
    <p>Following is stack trace - this is where your investigation start! </p>
    <code class="mt-5">{{error.details}}</code>
</ng-container>